* {
    box-sizing: border-box;
}

body {
    background-color: white;
    box-sizing: content-box;
}

/* Página 1 - index */
/*Este é um flex-container com o espaço do do primeiro nav das redes sociais*/

.nav1 {
    width: 100%;
    height: 40px;
    background-color: #b0c4de;
    border-radius: 10px;
    border: #26416D 5px solid;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
}

/*Este é um flex-item com as divs de cada rede social. As imagens foram colocadas html*/

.menu1 {
    padding: 20px;
}

/* Aqui é a estilização das imagens das redes sociais */
.img1 {
    width: 20px;
    height: 20px;
}
/* Aqui só fiz o espaçãmento da imagem da header em relação ao body */
.header {
    margin-left: 20px;
    margin-right: 20px;
}

/* Aqui é um flex container, com o espaço da nav2 */
.nav2 {
    width: 30%;
    height: 250px;
    background-color: #ff5757;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    border: solid #26416D 5px;
    border-radius: 10%;
    float: left
}

/* Aqui é um flex-item com os links da nav2 */
.menu2 {
    background-color: #b0c4de;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    border: 5px solid #26416D;
    text-align: center;
    margin-top: 10px;
}

/* Aqui é a estilização da fonte dos links da nav2 */
.menu2 a {
    color: #ff5757;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Bonheur Royale', cursive;
    font-weight: bold;
}

/* Aqui é o espaço da main1 */
.main1 {
    width: 60%;
    height: 250px;
    background-color: #b0c4de;
    border: 5px solid #26416D;
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    padding: 20px;
}

/* Aqui fiz uma seleção para sempre que usar o elemento p em todo o site ter essa estilização de fonte */
p:nth-child(n) {
    font-family: "Arial", "Comic Sans", "Verdana", "Georgia";
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #26416D;
}

/* Aqui é a estilização do link contido no texto dentro da main1 */
.link1 {
    text-decoration: none;
    color: #ff5757;
    text-decoration: underline;
}

/* Aqui é a estilização do strong contido no texto dentro da main1 */
.strong1 {
    color: #ff5757;
}

/* Aqui um container com o espaço do footer1 */
.footer1 {
    width: 100%;
    height: 70px;
    background-color: #b0c4de;
    border: 5px solid #26416D;
    border-radius: 10px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aqui é um flex-item que eu estilizei a fonte especificamente o h5 contido no footer1, o container ajudou a centralizar o text no espaço do footer */
.h5-1 {
    font-family: "Arial", "Comic Sans", "Verdana", "Georgia";
    color: #26416D
}

/* Pagina 2 */
/* Aqui no nav3 (que é um container) usei as mesmas configurações da nav1, apenas mudei as cores. Os flex-itens, mantive os mesmos da pag 1 */
.nav3 {
    width: 100%;
    height: 40px;
    background-color: #ff5757;
    border-radius: 10px;
    border: #26416D 5px solid;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
}

/* Aqui fiz uma logo fixa, que posteriormente pode ter alguma funcionalidade */
.logo1 {
    background-image: url(../imagens/Logo.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    border: solid #ff5757 5px;
    border-radius: 50%;
    position: fixed;
}

/* Aqui na nav4, que é um container, modifiquei o estilo do menu, reaproveitando o estilo da nav2 e3, mudando cores */
.nav4 {
    width: 100%;
    height: 50px;
    background-color: #ff5757;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid #26416D 5px;
    border-radius: 10px;
}

/* Aqui são os flexitens, com o espaço para os links do nav4 */
.menu3 {
    background-color: #b0c4de;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    border: 3px solid #26416D;
    text-align: center;
    margin-left: 10px;
}

/* Aqui é apenas a estilização da fonte dos links */
.menu3 a {
    color: #ff5757;
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Bonheur Royale', cursive;
    font-weight: bold;
    padding: 0px;
}

/* Aqui é um container apenas para ajustar a sessão para a direita */
.article1 {
    display: flex;
    justify-content: right;
}

/* Aqui é o flexitem com o espaço da section2 */
.section2 {
    width: 85%;
    height: 700px;
    border: 5px solid #26416D;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Cada espaço para os produtos */
.product1 {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: solid 5px #ff5757;
    margin-left: 70px;
    margin-right:50px;
}
/* Estilização da legenda dos produtos */
.product1 h4 {
    font-family: "Arial", "Comic Sans", "Verdana", "Georgia";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: #26416D;
}
/* Container apenas para ajustar a sessão para a direita */
.article2 {
    display: flex;
    justify-content: right;
}
/* Espaço para a inclizão do formulário SAC */
.section3 {
    width: 85%;
    height: 250px;
    border: 5px solid #26416D;
    background-color: #ff5757;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    padding-left: 15px;
}
/* Aqui eu estilizei o form todo com fontes e cores, mas também poderia ter usado o p que iria automaticamente por conta da utilização do seletor anteriormente, como fiz na pagina de cadastro */
.form1 {
    font-family: "Arial", "Comic Sans", "Verdana", "Georgia";
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #26416D;
}
/* Div container criada para alinhar a label mensagem com a textarea */
.mensagem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Ajuste da label mensagem */
.mensagem label {
    margin-top: 15px;
    margin-right: 5px;
}

/* Estilização do input do nome e do email */
.email1, .nome1 { 
    border-radius: 10px;
    width: 70%;
    height: 25px;
    border: 3px solid #26416D;
    background-color: #b0c4de;
    margin-top: 10px;
    margin-left: 33px;
}

/* Estilização da textarea */
textarea {
    border-radius: 10px;
    width: 70%;
    height: 100px;
    border: 3px solid #26416D;
    background-color: #b0c4de;
    margin-top: 10px;
}
/* Estilização do botão voltar */
.voltar1 {
    border-radius: 10px;
    width: 20%;
    height: 30px;
    border: 5px solid #26416D;
    background-color: #b0c4de;
    margin-left: 650px;
} 
/* Estilização da fonte do link do botão voltar1 */
.voltar1 a{
text-decoration: none;
color: black;
}
/* Container com cores novas para footer, o conteúdo reaproveitei o h5-1 da pág 1 */
.footer2 {
    width: 100%;
    height: 70px;
    background-color: #ff5757;
    border: 5px solid #26416D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container para deslocar a section de login para a esquerda */
.article3 {
    display: flex;
    justify-content: left;
}

/* Flexitem do article1. Espaço da section de login */
.section4 {
    width: 40%;
    height: 230px;
    background-color: #b0c4de;
    border: 5px solid #26416D;
    border-radius: 10px;
    margin-top:20px;
    margin-left:40px;
    padding: 20px;
}

/* Estilização do input do user e password */
#user1, #senha1 {
    border-radius: 10px;
    width: 40%;
    height: 25px;
    border: 3px solid #26416D;
    background-color: #ff5757;
    margin-top: 10px;
    margin-left: 33px;
}

/* Ajuste do inpt password */
#senha1{
    margin-left:55px;
}

/* Estilização do botão submit da section login */
.submit1 {
    background-color: #ff5757;
    border-radius: 10px;
    width: 15%;
    height: 25px;
    border: 3px solid #26416D;
    align-items: center;
}

/* flexitem do article1 e section de cadastro */
.section5{
    width: 40%;
    height: 780px;
    background-color: #b0c4de;
    border: 5px solid #26416D;
    border-radius: 10px;
    margin-top:20px;
    margin-left:180px;
    padding: 20px;
    
}

/* Estilização dos inputs */
#user2, #senha2, #name2, #dataNascimento, #adress, #numeroDaCasa, #complemento, #cep, #estado, #cidade, #telefone, #email2{
    border-radius: 10px;
    width: 40%;
    height: 25px;
    border: 3px solid #26416D;
    background-color: #ff5757;
    margin-top: 10px;
    margin-left: 33px;
}

/* Estilização do botão de voltar ao topo */
.voltar2 {
    border-radius: 10px;
    width: 20%;
    height: 30px;
    border: 5px solid #26416D;
    background-color: #ff5757;
    margin-left: 500px;
} 

/* Estilização da fonte do link do botão */
.voltar2 a {
    text-decoration:none;
    color:black;
}

/* Footer da página 3 */
.footer3 {
    width: 100%;
    height: 70px;
    background-color: #b0c4de;
    border: 5px solid #26416D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Todos abaixo são alinhamento dos inputs */
#user2 {
    margin-left: 105px;
}

#senha2 {
    margin-left: 130px;
}

#name2 {
    margin-left: 130px;
}

#adress {
    margin-left: 110px;
}

#dataNascimento {
    margin-left:40px;
}

#numeroDaCasa {
    margin-left: 120px;
}

#complemento {
    margin-left: 80px;
}

#cep {
    margin-left: 140px;
}

#cidade{
    margin-left: 120px;
}

#telefone {
    margin-left:110px;
}

#email2 {
    margin-left: 120px;
}














